main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5vh;
    letter-spacing: .1vw;
}

.activeCard, .blurredCard{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 40vw;
    padding: 0 1vw 1vw 1vw;
    height: 60vh;
    margin: 1vw;
    border: .2vw solid black;
    border-radius: 1vw;
    background-color: #f6eee3;
}

.activeCard{
    z-index: 2;
    padding: 1vw;
}

.activeCard h3{
    font-size: 1.3vw;
    margin-left: 1%;
}

.activeCard p{
    padding: 0 1vw;
    font-size: 1vw;
    margin-left: 1%;
    overflow: auto;
}

.cardLine{
    background-color: #1D1B1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 1%;
    margin-bottom: 1%;
}

.blurredCard {
    user-select: none;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 16vh;  /* Adjusts the card position down */
    left: 30vw; /* Adjusts the card position to the right */
    filter: blur(.1vw); /* Apply a blur effect */
}

.blurredCard:hover{
    cursor: pointer;
}

.cardButtons{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 74vw;
    top: 30vh;
    height: 20vh;
}

.cardButtons div{
    display: flex;
    align-items: center;
    height: 100%;
}

.cardButtons div p{
    font-size: 1.1vw;
    margin: 0;
    margin-left: 1vw;
}

.cardButtons button{
    width: 2vw;
    height: 2vw;
    border: none;
    border-radius: 1vw;
    background-color: #1d1b1b00;
    border: .2vw solid #1D1B1B;
    color: white;
    font-size: 1vw;
}

.cardButtons button:hover{
    background-color: #1D1B1B;
    cursor:pointer;
}

.cardButtons .activeButton{
    background-color: #57dc74;
    color: black;
    text-decoration: underline;
}

.activeButtonText{
    font-size: 1.1vw;
    margin: 0;
    margin-left: 1vw;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .cards{
        font-size: 3vw;
        top: auto;
        left: auto;
    }

    .activeCard, .blurredCard{
        width: 80vw;
        height: 50vh;
    }

    .activeCard h3{
        font-size: 5vw;
    }

    .activeCard p{
        font-size: 3vw;
    }

    .cardLine{
        width: 80%;
    }

    .blurredCard{
        top: 10vh;
        left: 10vw;
        filter: blur(.3vw); /* Apply a blur effect */

    }

    .cardButtons{
        margin-top: 5vh;
        width: 85%;
        position: inherit;
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .cardButtons button{
        width: 10vw;
        height: 10vw;
        font-size: 5vw;
        border-radius: 5vw;
    }    

    .cardButtons div{
        height: 20vw;
        width: 33%;
        flex-direction: column;
    }

    .cardButtons div p{
        font-size: 5vw;
        width: 100%;
        text-align: center;
        overflow: hidden;
    }
}